<a href="https://colab.research.google.com/github/seawavve/PeekABook/blob/main/NER/get_characters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.read_csv('Entity_Predicted_result.csv')
display(data)

     Unnamed: 0  Unnamed: 0.1  ... predicted_mark       person
0             0             0  ...              0  ['Zobeida']
1             1             1  ...              2  ['Zobeida']
2             2             2  ...              2           []
3             3             3  ...              1           []
4             4             4  ...              1   ['Sultan']
..          ...           ...  ...            ...          ...
167         167           167  ...              1           []
168         168           168  ...              2           []
169         169           169  ...              1  ['Rejoice']
170         170           170  ...              1           []
171         171           171  ...              1  ['Rejoice']

[172 rows x 6 columns]

In [12]:
#등장인물 추출
import ast
persons=[]

for person_line in data['person']:
  person_line = ast.literal_eval(person_line) 
  for p in person_line:
    persons.append(p)
persons=set(persons)
print(persons)

{'Wretch', 'Alnaschar', 'Hindbad', 'Whoso', 'Douban', 'Calenders', 'Sadia', 'Heaven', 'O Fortune', 'Mad', 'Sultan', 'Sadie', 'King Armanos', 'Marzavan', 'Rejoice', 'Zobeida', "Aladdin's", 'Alas', 'vizir', 'Grant', 'Saouy', 'Hasten', 'Amina', 'Fisherman'}